#cabecera_links #reservas {
    color: orange;
}



main {
    background-color: beige;
    display: flex;
}

.formulario ,.tabla{
  flex: 1;
  box-sizing: border-box; /* Incluye padding y borde en el ancho total */

}

/*FORMULARIO*/
.formulario {
    padding: 30px;
    display: flex; /* Usamos Flexbox para organizar los elementos */
    flex-direction: column; /* Apilar los elementos verticalmente */
    gap: 15px; /* Espacio entre los elementos */
    max-width: 80%; /* Hace que ocupe menos pantalla */


}

.formulario input {
    padding: 12px;
    border: 1px solid whitesmoke; /* Un color de borde más claro */
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) inset; /* Sombra interna sutil */
}

.formulario input:focus { /*Cuando vas a meter info*/
    outline: none; /*Quita el borde por defecto*/
    border-color: #4CAF50; /* Color al clickar */
    box-shadow: 0 0 5px greenyellow; /* le damos nosotros el efecto */
}


/*TABLA*/
table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid whitesmoke;
}

th {
  background-color: #ff7723;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}



tr:hover {
  background-color: #f1f1f1;
}

button {
  background-color: coral;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: rgb(238, 91, 38);
}

main p {
  font-size: 24px;
  font-weight: bold;
  color:black;
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  main {
    flex-direction: column; /*Uno debajo del otro*/
    align-items: center;
  }

  .formulario, 
  .tabla {
    max-width: 100%; /*Que no salga de la ventana*/
    width: 90%; 
  }

  table {
    width: 100%;
    font-size: 14px; 
  }

  main p {
    font-size: 18px; 
    text-align: center;
  }
}
